 html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    text-decoration: none!important;
    color: #0B093B;
  }
  a:hover {
    color: #7620FF;
  }
  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #fff inset; /* Change the color to your own background color */
    box-shadow: transparent;
    -webkit-text-fill-color: #fff;
  }
  body {
    background: #fff;
    color: #0B093B;
    font-family: 'Khula', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
  }
  .container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 30px;
  }
  .rainbow-text {
    background: linear-gradient(90deg, blue, orange, rgb(121, 153, 201), rgb(223, 216, 11), rgb(30, 167, 195), indigo, violet);
    -webkit-background-clip: text; /* For Safari compatibility */
    background-clip: text;
    color: transparent; /* Hide the text color */
    font-size: 2em; /* Adjust size as necessary */
    display: inline-block; /* Ensure the background applies correctly */
  }
  .circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Circle diameter */
    height: 50px; /* Circle diameter */
    border-radius: 50%; /* Makes the button circular */
    background-color: #7620ff;
    ; /* Circle background color */
    color: rgb(69, 19, 209); /* Arrow color */
    text-decoration: none; /* Removes underline from link */
    font-size: 20px; /* Size of the arrow */
    transition: background-color 0.3s; /* Smooth hover effect */
  }
  .circle-button:hover {
    background-color: rgb(255, 255, 255); /* Darker shade on hover */
  }
  .magnetic-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    position: relative; /* Relative positioning for absolute planets */
  }
  
  .central-point {
    width: 20px;
    height: 20px;
    background: #f39c12; /* Central point color */
    border-radius: 50%;
    position: absolute;
    z-index: 2; /* Keep it above planets */
  }
  
  .planet {
    width: 20px; /* Planet size */
    height: 20px; /* Planet size */
    border-radius: 50%;
    position: absolute;
    animation: orbit 2s linear infinite; /* Orbit animation */
  }
  
  /* Colors for each planet */
  .planet1 {
    background: #3498db; /* Light Blue */
    animation-delay: 0s;
  }
  
  .planet2 {
    background: #e74c3c; /* Red */
    animation-delay: 0.5s;
  }
  
  .planet3 {
    background: #f1c40f; /* Yellow */
    animation-delay: 1s;
  }
  
  .planet4 {
    background: #9b59b6; /* Purple */
    animation-delay: 1.5s;
  }
  .planet5 {
    background: #3118ac; /* Light Blue */
    animation-delay: 2s;
  }
  
  .planet6 {
    background: #aaae83; /* Red */
    animation-delay: 2.5s;
  }
  
  .planet7 {
    background: #b71414; /* Yellow */
    animation-delay: 3s;
  }
  
  .planet8 {
    background: #c8a111; /* Purple */
    animation-delay: 3.5s;
  }
  .planet9 {
    background: #2bd84d; /* Purple */
    animation-delay: 4s;
  }
  
  @keyframes orbit {
    0% {
      transform: rotate(0deg) translateX(200px); /* Initial position */
    }
    100% {
      transform: rotate(360deg) translateX(200px); /* Complete rotation */
    }
  }
  .arrow {
    position: relative;
    top: 0px; /* Adjusts arrow vertical position for centering */
  }
  @media only screen and (max-width: 859px) {
    .container {
      padding: 0 15px;
    }
  }
  .regular {
    font-weight: 400!important;
  }
  .semiBold {
    font-weight: 600!important;
  }
  .extraBold {
    font-weight: 800!important;
  }

  /* HELLPERS */
  .textCenter {
    text-align: center
  }
  .animate {
    transition: 0.3s ease;
  }
  .pointer {
    cursor: pointer;
  }
  .relative {
    position: relative;
  }
  .textCenter {
    text-align: center;
  }
  .textLeft {
    text-align: left;
  }
  .textRight {
    text-align: right;
  }
  .x100 {
    width: 100%;
  }
  .active {
    border-bottom: 2px solid #7620FF;
    color: #7620FF;
  }
  .active1 {
    border-bottom: 2px ;
    /* color: #7620FF; */
  }
  .tag {
    padding: 5px 10px;
    margin: 10px 0;
  }
  .shadow {
    box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
    -webkit-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
    -moz-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
  }
  /* FLEXBOX */
  .flex {
    display: flex;
  }
  .flexSpaceCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flexNullCenter {
    display: flex;
    align-items: center;
  }
  .flexColumn {
    flex-direction: column;
  }
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexSpaceNull {
    display: flex;
    justify-content: space-between;
  }

  /* FONT SIZES */
  .font11 {
    font-size: 0.688rem;
  }
  .font12 {
    font-size: 0.75rem;
  }
  .font13 {
    font-size: 0.813rem;
  }
  .font14 {
    font-size: 0.875rem;
  }
  .font15 {
    font-size: 0.938rem;
  }
  .font18 {
    font-size: 1.125rem;
  }
  .font20 {
    font-size: 1.25rem;
  }
  .font25 {
    font-size: 1.563rem;
  }
  .font30 {
    font-size: 1.875rem;
  }
  .font40 {
    font-size: 2.5rem;
  }
  .font60 {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }
  @media only screen and (max-width: 859px) {
    .font11 {
      font-size: 0.688rem;
    }
    .font12 {
      font-size: 0.688rem;
    }
    .font13 {
      font-size: 0.75rem;
    }
    .font14 {
      font-size: 0.813rem;
    }
    .font15 {
      font-size: 0.813rem;
    }
    .font18 {
      font-size: 0.938rem;
    }
    .font20 {
      font-size: 1.125rem;
    }
    .font25 {
      font-size: 1.25rem;
    }
    .font30 {
      font-size: 1.5rem;
    }
    .font40 {
      font-size: 1.875rem;
    }
    .font60 {
      font-size: 2.8rem;
    }
  }
  /* BORDER RADIUS */
  .radius8 {
    border-radius: 1rem;
  }
  .radius6 {
    border-radius: 0.6rem;
  }
  /* COLORS */
  .darkColor {
    color: #0B093B;
  }
  .purpleColor {
    color: #7620FF;
  }
  .orangeColor {
    color: #F2B300;
  }
  .lightColor {
    color: #F5F5F5;
  }
  .coralColor {
    color: #C4FFFF;
  }
  .greenColor {
    color: #49CB86;
  }
  .greyColor {
    color: #707070;
  }
  .whiteColor {
    color: #fff;
  }
  /* BACKGROUNDS */
  .darkBg {
    background-color: #0B093B;
  }
  .purpleBg {
    background-color: #7620FF;
  }
  .orangeBg {
    background-color: #F2B300;
  }
  .lightBg {
    background-color: #F5F5F5;
  }
  .coralBg {
    background-color: #C4FFFF;
  }
  .greenBg {
    background-color: #49CB86;
  }
  .greyBg {
    background-color: #707070;
  }
  .whiteBg {
    background-color: #fff;
  }
